header{
    padding: 100px;
    color: white;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: auto;
}

body{
    background-color:  rgb(15, 15, 20);
}

div{
        position: relative;
        width: 400px;
        height: 650px;
        margin: 0 auto;
        background-color:  hsl(261, 21%, 13%);
        border-radius: 5px;
        vertical-align: inherit; 
}
img{
    width: 400px;
    height: 400px;
}

h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

p{
    font-size: 30px;
    text-align: center;
    color: white;
}